@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --indigo-50: 226 100% 97%;
    --indigo-100: 226 100% 94%;
    --indigo-200: 226 100% 90%;
    --indigo-400: 226 83% 73%;
    --indigo-500: 226 83% 60%;
    --indigo-600: 226 83% 45%;
    --indigo-700: 226 83% 38%;
    --indigo-800: 226 83% 31%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 226 83% 45%;  /* indigo-600 */
    --primary-foreground: 0 0% 100%;

    --secondary: 226 100% 94%; /* indigo-100 */
    --secondary-foreground: 226 83% 45%; /* indigo-600 */

    --muted: 226 100% 94%; /* indigo-100 */
    --muted-foreground: 226 83% 60%; /* indigo-500 */

    --accent: 226 100% 97%; /* indigo-50 */
    --accent-foreground: 226 83% 45%; /* indigo-600 */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 226 100% 94%; /* indigo-100 */
    --input: 226 100% 94%; /* indigo-100 */
    --ring: 226 83% 45%; /* indigo-600 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.sudoku-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 1px;
  background-color: theme('colors.indigo.100');
} 